version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: springboot-mysql-usuarios
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_microservicios_examenes
      MYSQL_USER: jckballero
      MYSQL_PASSWORD: 210613
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  # Opcional: phpMyAdmin para ver la BD visualmente
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: springboot-phpmyadmin-usuarios
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
